<div id="footer">
 <nav role="navigation" class="navbar navbar-transparent">
    <div class="navbar-header">
        <!--<a href="#" class="navbar-brand">© Group 6</a>-->
    </div>
	</nav>
</div>